
<div class="guess-box">
  <%=form_for guess, remote: true do |f| %>
    <%= f.collection_select :character_id, game.remaining_chars, :id, :name, {prompt: "Who's here?"} %>
    <%= f.hidden_field :xpos, value: xpos %>
    <%= f.hidden_field :ypos, value: ypos %>
    <%= f.submit "Tag", class: "guess-submit" %>
  <% end %>
</div>
